<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Привет ADMIN!</title>
    </head>
    <body>
        <h1 th:inline="text">Привет [[${#httpServletRequest.remoteUser}]]!</h1>
        <p>если у Вас есть роль ADMIN то это Ваша страница!!!</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Завершить сеанс"/>
        </form>
    </body>
</html>